*, *::after, *::before{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(236, 236, 236, 0.272);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    overflow-y: hidden;
}
p{
    margin: 0;
    line-height: 1.5;
}
img{
    width: 100%;
}

header{
    height: 100vh;
}
.main-header{
    margin-bottom: 3em;
}
.main-header h1{
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 0;
    width: fit-content;
    margin-inline: auto;
}
.main-header h1::before{
    position: absolute;
    content: "";
    bottom: 10px;
    left: -15px;
    height: 10px;
    width: 30%;
    background-color: rgb(245, 149, 165);
    z-index: -1;
}
.main-header p{
    width: fit-content;
    margin-inline: auto;
    transform: translateX(50px);
}
.header-content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 5em;
    align-items: center;
}
header .h-f-s{
    flex: 1 1 100%;
}
header .h-s-s{
    flex: 1 1 100%;
}
header button{
    color: white;
    background-color: rgb(245, 149, 165);
    padding: .75em;
    width: 50%;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: inherit;
    border: 0;
    margin-top: 1em;
    border-radius: .5em;
    cursor: pointer;
    box-shadow: -4px 4px 10px gray;
    transform: translateX(50%);
}
header button:hover{
    transform: translateX(50%) scale(1.04);
    transform-origin: center;
}




section{
    color: white;
    min-height: 100vh;
}
section ul li a{
    color: rgb(176, 176, 222);
    font-weight: bold;
}
section a:active{
    color: rgb(255, 236, 178);

}
section a:visited{
    color: rgb(170, 170, 170);

}
section.topic.one{
    background-color: rgb(174, 47, 68);
    padding: 3em 0 2em;
    text-align: center;
}
section.topic.one h2{
    color: rgb(226, 155, 168);
    font-size: 2.5rem;
}
section.topic.one p{
    max-width: 40ch;
    margin-inline: auto;
}